* {
    margin: 0px;
    font-family: cursive;
}

body {
    background-image: url(https://fondosmil.com/fondo/11825.jpg);
    text-align: center;
}

.content {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.2);
    margin: 30px;
    padding-left: 100px;
    height: 100%;
}

.titulos {
    padding-left: 350px;
    color: antiquewhite;
    font-size: 40px;
}

.submit {
    width: 150px;
    height: 50px;
}

.submit:hover {
    background: rgba(61, 60, 60, 0.2);
}

.groupForm {
    background: black;
    display: flex;
}

#det {
    color: black;
}


/*admint.php*/

#datosUsuario {
    margin-left: 72%;
    padding: 10px;
}

#informeBotton {
    background-color: rgba(24, 199, 199, 0.815);
    border: black;
    padding: 50px;
    margin: 50px;
    border-color: green;
    font-size: 25px;
}

#empleadosRegistradosBotton {
    background-color: rgba(24, 199, 199, 0.815);
    border: black;
    padding: 50px;
    margin: 50px;
    font-size: 25px;
}

#registrousuarioBotton {
    left: 200px;
    background-color: rgba(24, 199, 199, 0.815);
    border: black;
    padding: 50px;
    margin: 50px;
    font-size: 25px;
}

#informeForm {
    color: black;
}

.modal-header {
    font-weight: 200px;
    background-color: rgba(78, 86, 105, 0.582);
}

.modal-body {
    background-color: white(61, 123, 180, 0.582);
    color: black;
}