* {
    color: white;
    margin: 0px;
}

body {
    background-image: url("multimedia/Violet.png");  
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}


input[type="text"], input[type="password"]{
    margin-top: 0%  ;
    outline: none;
    padding: 20px;
    display: block;
    width: 85%;
    height: 5px;
    border-radius: 2px;
    border: 1px solid darkblue;
    margin: 5px ;
    margin-bottom: 35px;
    background: darkgray;
}

input[type="submit"]{

    padding: 10px;
    color: white;
    background: mediumblue;
    width: 70%;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;

            }
input[type="submit"]:hover {
    background-color: royalblue;
}

label {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.formR {
    display: block;
    left: auto;
    right: auto;
    width:  30%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 85px;
    left: 35%;
    border-radius: 5px;
    margin-bottom: 20%;
}

form a,
form button {
    color: black;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav img {
    margin-left: 30px;
}
a{
    color: white;
}

@media (max-width: 600px) {
body {
    background-image: url("https://images.pexels.com/photos/4058530/pexels-photo-4058530.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
     }
.formR {
    display: block;
    left: auto;
    right: auto;
    width: 48%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 85px;
    left: 22%;
    border-radius: 5px;
    margin-bottom: 30%;
}
input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 75%;
    height: 5px;
    border-radius: 3px;
    border: 1px solid darkblue;
    margin: 10px ;
    margin-bottom: 15%;
    background: darkgray;
    color: white;
            }

input[type="submit"]{

    padding: 10px;
    color: white;
    background: mediumblue;
    width: 70%;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;

            }
input[type="submit"]:hover {
    background-color: royalblue;
}

    }

  